[2018-04-04 20:02] EthanDavis opened #2 "Support for Authorization and headerParams"
I was wondering what the ETA on the support of routing controllers Authorization and header params was? I see that it's on the TODO at the bottom of the documentation but there isn't any indication of a timeline. BTW really love this library it's saved me so much time!

[2018-04-05 05:43] epiphone commented on #2
Hi, there's not really any timeline to speak of, I was sort of hoping the TODOs would inspire a pull request or two... :) Glad you found the library useful!

[2018-04-09 02:42] alexandre-monteiro opened #3 "All controllers must be in a single file?"
In your test, there are two controllers on the same file. Is that right?

[controllers.ts](https://github.com/epiphone/routing-controllers-openapi/blob/master/__tests__/fixtures/controllers.ts
)
Do you have an example, maybe a project to show how work with a larger number of controllers?

Thanks

[2018-04-09 13:16] epiphone commented on #3
Hi, there's no restriction on which files to place your controllers into. The test controllers you linked to are just bunched together for convenience.

You can take a look at [`routing-controllers` docs](https://github.com/typestack/routing-controllers#example-of-usage) on how to define the controllers.

[2018-04-10 12:49] pankaj884 opened #4 "Not able to add component schema"
This is my view model of a single class, please tell how I can add it to the component schema.

[code]

[2018-04-11 05:34] epiphone commented on #3
If I remember correctly, as long as you call `getMetadataArgsStorage()` after defining your `routing-controllers`-decorated controllers, the return value (`storage` in your example above) should contain information for all the controllers. So instead of generating a spec at the end of each controller, you could try generating it right after your `this.express = createExpressServer({ ...` block for

[2018-04-11 05:40] epiphone commented on #4
1. Check the [class-validator-jsonschema docs](https://github.com/epiphone/class-validator-jsonschema#usage) on how to access `class-validator` metadata.
2. Use `class-validator-jsonschema` to generate JSON schema out of the metadata, adding the `refPointerPrefix` parameter as [demonstrated on the docs](https://github.com/epiphone/routing-controllers-openapi#validation-classes).
3. Supply your sch

[2018-04-11 05:41] #4 closed

[2018-04-11 17:12] EthanDavis commented on #2
Okay thank you!

[2018-05-30 12:33] nsw opened #5 "i got a need for generate an api spec with swagger v2,any solutions to transform ?"

[2018-05-31 06:41] epiphone commented on #5
Nothing out of the box I'm afraid, the library is targeting OpenAPI v3.

[2018-05-31 06:41] #5 closed

[2018-06-12 11:59] #3 closed

[2018-06-17 11:41] epiphone commented on #2
Added support for header params in version 1.3.0.

As for authorization, it looks like parsing routing-controller's `@Authorized` decorator into an OpenAPI [Security Scheme object](https://swagger.io/specification/#securitySchemeObject) is not feasible since the decorator only receives a single function as an argument - meaning there's nothing to infer the security scheme from. Feel free to open a

[2018-06-17 11:41] #2 closed

[2018-06-22 14:44] WRostom opened #6 "Deprecated tag not being added to doc"
I used the OpenAPI decorator to add the deprecated tag to the documentation and it didn't read it for some reason.

Code
![screenshot from 2018-06-22 16-38-05](https://user-images.githubusercontent.com/4014846/41782719-4c907d46-763b-11e8-99a7-cf5a45d40bfa.png)

swagger.json file
![screenshot from 2018-06-22 16-39-27](https://user-images.githubusercontent.com/4014846/41782729-52d97356-763b-11e8-963

[2018-06-22 18:10] #6 closed

[2018-06-22 18:17] epiphone commented on #6
There was a bug in how the library cleans up empty properties; I didn't realize `_.isEmpty(true)` resolves to `true`. Pushed a patch, thanks for the heads-up!

[2018-06-22 22:01] WRostom commented on #6
Any time. Thank _you_ for doing the actual hard work.

[2018-07-11 21:56] ollita7 opened #7 "Parameters with @Body are not incuded on the doc"
I have the followin signature:
`@Post('/ecs/:ec/ai/:resource')
    async queryResources(@Body() body: AIQueryRequestModel,
        @Param('orgname') orgname: string,
        @Param('ec') ec: string,
        @Param('resource') resource: string)`
When i see the documentation @Body class is not documented

[2018-07-12 06:54] epiphone commented on #7
Hi, so the problem is that the `components.schemas.AIQueryRequestModel` field in the resulting OpenAPI schema doesn't get populated? Try first converting `AIQueryRequestModel` into JSON Schema with [`class-validator-jsonschema`](https://github.com/epiphone/class-validator-jsonschema) and then attaching it to your OpenAPI JSON [as exemplified in the docs](https://github.com/epiphone/routing-control

[2018-07-12 17:38] ollita7 commented on #7
I use your sample. The problem is that my class doesn't have any annotation.
Is it possible to genrate documentation for classes without decorators?

`export class AIQueryRequestModel {
    public dateFrom: string;
    public dateTo: string;
    public filter: any;
    public trend: boolean;
    public trendBy: string;
    public ec: string;
}`

[2018-07-13 06:23] epiphone commented on #7
Ah, I see. Currently the library doesn't support documenting classes without annotations, I'm afraid. AFAIK parsing type information is possible only at compile-time which is why we need the annotations.  Doing the same thing at runtime might be doable with [user-defined type guards](https://www.typescriptlang.org/docs/handbook/advanced-types.html#user-defined-type-guards) if you want to give it a

[2018-07-13 06:23] #7 closed

[2018-08-09 21:55] consense commented on #5
Late to the party but https://www.npmjs.com/package/api-spec-converter worked like a charm

[2018-08-10 11:26] consense opened #8 "Response body"
As far as I understand it is currently not possible to extract the response body automatically from type of the returned value in the controller./action.

Is there a way to describe it manually? In particular in many cases the definition of the response object is already present in the openapi-doc as it was used as request body in another action (think model-DTO being used as request for updateMod

[2018-08-10 12:46] epiphone commented on #8
Hi! You're right, extracting response types automatically in runtime isn't allowed by Typescript's reflection system ATM. Specifically the problem is we can't unwrap generic types like `Promise<MyModel>` or `Array<MyModel>`: see e.g. [here](https://github.com/Microsoft/TypeScript/issues/10576) for discussion.

As for manually describing response types there's the `@OpenAPI` decorator as you've hin

[2018-08-10 17:06] consense commented on #8
Hi @epiphone ! Thanks for the very extensive and helpful reply!
I added a corresponding commit at https://github.com/ScreenAware/routing-controllers-openapi/commit/bd5676412c9b8e9e1b5168cd040f6dad8e8906c2 but for some reason manage to crash `routing-controllers-openapi` in my own app when directly referencing the new files in build.

If you want I can ofc try to understand what I might have done t

[2018-08-24 12:57] epiphone commented on #8
Published in `1.4.0`, thanks @consense!

[2018-08-24 12:57] #8 closed

[2018-09-10 13:54] Faris-AH opened #11 "Authorization using securityDefinitions and security parameter"
I am using addition properties for authorization
[code]
and in controller
[code]
I know authorization feature is mission in it. Can i implement authorization in this way?
Thanks :)

[2018-09-11 05:55] epiphone commented on #11
Hi, something along those lines should do the trick, yes. Note though that in OpenAPI 3 the way security schemas are defined changed a bit: https://swagger.io/docs/specification/authentication/#changes

[2018-09-11 05:55] #11 closed

[2018-10-10 15:38] adomurad opened #12 "Body as Array"
Hi,

I'm using typestack with routing controller and class-validator and so on...
And my models are mostly arrays.
e.g. @Body({ type: User }) users: User[],
And in my generated documentation, I get as type of body an  "Array".

I tried to add @OpenAPI decorator with:
$ref: '#/components/schemas/User'
But then I get a blank body type.

How can I make the Array<User> to appear in the docs as an arra

[2018-10-10 18:32] #12 closed

[2018-10-26 21:01] Faris-AH opened #13 "Reference error in array of objects"
`export class City {
  @IsNotEmpty()
  City: string;

  @IsNotEmpty()
  State: string;
}
export class CreateEntityRequest {
  @IsNotEmpty()
  FirstName: string;

  @IsOptional()
  MiddleName: string;

  @IsArray()
  @ValidateNested({ each: true })
  @Type(() => City)
  Cities: City[]
}
`
Accroding to the above code components.schemas.CreateEntityRequest.properties.Cities.items["$ref"]  = #/compone

[2018-10-30 06:46] epiphone commented on #13
Hi! Did you remember to define the `classTransformerMetadataStorage` property in class-validator-jsonschema config? Along the lines of:

[code]

[2018-11-05 05:20] Faris-AH commented on #13
Oops sorry. Thanks for your help.

[2018-11-05 05:20] #13 closed

[2018-11-11 08:50] AlfieriChou opened #14 "Not able to parse @BodyParam"
[code]
but this api doc is No parameters

[2018-11-11 14:59] epiphone commented on #14
Hi! Good point, `@BodyParam` is not currently supported. I'd be happy to merge in a PR if anyone feels like implementing this!

[2018-12-29 15:25] quentinus95 opened #15 "Missing / in $ref when using ValidateNested"
Hi,

Using the following classes:

[code]

I get the following generated json:

[code]

-> There is a missing / in the $ref before "Provider"

When adding a / in the `refPointerPrefix` contrary to what we can see here: https://github.com/epiphone/routing-controllers-openapi/blob/master/sample/01-basic/app.ts it fixes the issue

[2019-01-02 09:54] epiphone commented on #15
Oh yeah, `refPointerPrefix` should indeed end with a slash. Pushed a fix, thanks!

[2019-01-02 09:54] #15 closed

[2019-01-07 17:19] quentinus95 opened #16 "Generated schema for dates may be wrong?"
Hi,

When using swagger, I have noticed that Dates does not appear in example value event if they are required, whereas it appears in the schema tab:

![image](https://user-images.githubusercontent.com/8060564/50782519-8a8fdb00-12a8-11e9-9355-433f1ff080fb.png)

But there is no such line in the example tab.

Do yo have an idea on why this happen, and if it is related to the way I define my schema?

[2019-01-24 13:43] lgabeskiria opened #17 "Not able to parse @QueryParams()"
[code]
This example create one field called query and displays it as json field.

Expected behavior is to have 3 query parameters:
offset, limit and order. Order parameter should be of deepObject style.

Example query string:
[code]

More info https://swagger.io/docs/specification/serialization/

[2019-01-25 09:53] guillaume-roy commented on #15
Hi, Could you update the package on NPM please ? Thanks !

[2019-01-25 10:04] epiphone commented on #15
@guillaume-roy it was just a matter of fixing a typo in sample code, so nothing to update on NPM. Check the fixed sample here: https://github.com/epiphone/routing-controllers-openapi/blob/master/sample/01-basic/app.ts#L22

[2019-01-25 10:07] guillaume-roy commented on #15
Yes ... my bad. Thanks !

[2019-01-25 11:02] epiphone commented on #17
Hi, that's bit of a tricky one. So we need to pass a `style: "deepObject"` property to your Parameter object, and the library is currently lacking this feature, right? One option would be to add a global configuration parameter for defining query parameter `style` and `explode`, how'd that work out for you? Or can you think of a way of setting them per-parameter?

Also your `SortOrder` class might

[2019-02-01 10:38] epiphone commented on #14
Support for `BodyParam` released in `1.5.0`.

[2019-02-01 10:38] #14 closed

[2019-02-16 21:39] Downchuck opened #18 "routingControllersToSpec returning an indexing error"
Seeing on the latest:
[code]

Note metadata is returning an object, and it does work with parseRoutes:

[code]

[2019-02-16 21:56] Downchuck commented on #18
Neglected to add "emitDecoratorMetadata": true to my tsconfig.json

[2019-02-16 21:56] #18 closed

[2019-03-03 10:49] sixman9 opened #19 "Can 'multipart/form-data' be added to the output OpenAPI spec, for the @UploadedFiles decorator?"
I'm, new to Typescript/Javascript (Java Dev), but I'm trying to keep my development as DRY as possible.

I already know that my Express code works and *can* do 'multipart/form-data' file uploads, via the '@UploadedFiles' decorator, however, I'd like to see that reflected in the OpenAPI spec, output by your project, so any client code I generate will be aware of it (i.e. 'multipart/form-data').

*H

[2019-03-04 08:50] epiphone commented on #19
Hi, handling `@UploadedFile`/ `@UploadedFiles` would indeed make a great addition, thanks for the suggestion! We'd probably need to extend the [`getRequestBody`](https://github.com/epiphone/routing-controllers-openapi/blob/master/src/generateSpec.ts#L171) function to check for said decorators (`route.params.filter(d => ['file', 'files'].includes(d.type)`) and merge the `multipart/form-data` block

[2019-03-11 03:55] Downchuck opened #20 "Testing code for stdin/stdout requests"
This code is something I'm using as part of testing -- it reads JSON from stdin and writes responses back to stdout. The parent routing-controllers project has createExpressServer, but this project has the added decorations to make this more useful.

Using an OpenAPI decorated class:
[code]

Splitting up input and parsing it as JSON; note the decorator is not used, as this code is incomplete (just

[2019-03-13 16:55] klassicd commented on #11
There is a good example here https://github.com/epiphone/routing-controllers-openapi/blob/master/sample/01-basic/app.ts

[2019-03-13 18:53] klassicd opened #21 "How can we set parameter `description` and `example`?"
Is it currently not possible to set the parameter `description` and `example`?

From what I can tell the parameter fields this supports are:
- `in`
- `name`
- `required`
- `schema`

I'd be interested in contributing if you have an idea in mind how we can support setting a default `description` and `example`.

[2019-03-14 09:32] epiphone commented on #21
There's no place to define `description` and `example` out of the box, that's correct. Couple of ways around this come to mind:

**using QueryParams/Params etc instead of QueryParam/Param**:

[code]

`my ID query parameter` description then ends up in the `parameters[0].schema` object. We're missing handling for `@Params` right now so that would need to be added.

**adding another decorator** , so

[2019-03-21 02:49] Downchuck commented on #20
tighter version with a json parsing package; shutdown function and MALFORMED_INPUT left to imagination.

[code]

[2019-04-15 14:51] gstamac commented on #17
This should actually be the default behavior. `QueryParams` should be expanded because it represents the whole query object (or at least part of it) not just one query parameter. I'll take a look and maybe create a PR.

[2019-04-15 17:34] gstamac commented on #17
This is not possible now because `routing-controllers-openapi` doesn't have information about schemas.

[2019-04-18 06:13] jinker commented on #21
Any plan about this?

[2019-04-18 07:03] epiphone commented on #21
No plan, no. Try one of the workarounds outlined above or submit a PR!

[2019-07-12 09:45] VaclavMiculka opened #23 "Wrong $ref for array of nested object"
Hello, I am geting wrong $ref for array of object. I created example to reproduce issue:

 running my sample code generates wrong $ref on path:
components > schema > UsersResponse > properties > data.

Items referecening `#/components/schemas/Array` instead of `#/components/schemas/UserOutputApiEntity`

## Sample code
[code]
## Output
[code]

[2019-07-12 12:39] epiphone commented on #23
Hey, as [addressed in the docs](https://github.com/epiphone/class-validator-jsonschema#validatenested-and-arrays) we need to use the `@Type()` decorator from `class-transformer` to access a generic's inner type (because of [this](https://github.com/typestack/class-transformer#working-with-nested-objects)).

[2019-07-12 12:39] #23 closed

[2019-07-17 20:54] Downchuck opened #24 "Older TS fails to recognize Array Union as an Array"
[code]

Likely fixed as of this year in TSC:
https://github.com/Microsoft/TypeScript/issues/23440

[2019-07-18 05:47] epiphone commented on #24
Support for array spread types was [added in typescript 3.0](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#tuples-in-rest-parameters-and-spread-expressions), I'd advise you to upgrade if possible.

[2019-07-18 05:50] Downchuck commented on #24
The bug is in 3.0 -- the spread type is supported for arrays but the inline union type is misinterpreted. Note the error identifies the rest argument correctly but does not see the type as an array.

[2019-07-18 06:47] epiphone commented on #24
Ah, I see. Upgrading to latest typescript fixes the issue though?

[2019-07-18 15:46] Downchuck commented on #24
I believe so - at approx 3.3

[2019-07-24 09:33] VaclavMiculka commented on #23
Oh thx! I missed it :/

[2019-08-12 17:18] Brian-NgH777 commented on #19
Now, how can I achieve the addition of 'multipart/form-data' programmatically, using routing-controllers-openapi/routing-controllers?

[2019-08-13 14:52] Brian-NgH777 opened #25 "For example 'multipart/form-data' be added to the output OpenAPI spec, for the @UploadedFiles decorator ?"
@UploadedFiles not working for routing-controllers-openapi
How to fix this ?
Thank

[2019-08-13 15:04] epiphone commented on #25
It's not supported. Pull requests are welcome!

[2019-08-13 15:04] #25 closed

[2019-08-27 10:23] arthurvaverko opened #26 "Error while genereting spec using routingControllersToSpec(storage, routingControllersOptions);"
I getting this exception:

[code]

form the debug i figured that this method is the problem

[code]

the problem is within the call to `getPathParams(route)`

for some reason when the call goes to `getParamSchema(param)` specifically at
`const type = Reflect.getMetadata('design:paramtypes', object, method)[index];`
the result of Reflect.getMetadata('design:paramtypes', object, method) is undefined

[2019-08-27 10:31] epiphone commented on #26
Did you follow [these instructions](https://github.com/typestack/routing-controllers#installation) on setting up `routing-controllers`? Namely, importing `reflect-metadata` and setting the right Typescript config parameters.

[2019-08-27 10:48] arthurvaverko commented on #26
thanks... was missing this in tsconfig
        "emitDecoratorMetadata": true,

[2019-08-27 10:48] #26 closed

[2019-10-07 07:43] #24 closed

[2019-11-25 18:23] edward-soetiono-asto opened #33 "Does not work with routing contollers 0.8"
Compilation error when using routing controllers 0.8.0, works ok with 0.7.7

[2019-11-26 08:19] epiphone commented on #33
Published a fix in `1.8.0`. Thanks for the heads-up!

[2019-11-26 08:19] #33 closed

[2019-12-28 09:44] chianquan commented on #21
The same problem for me.
So far I only have a ugly way.
[code]
I create another decorate that use @Params and @OpenAPI.Pass an function that modify the openApi doc to OpenAPI.

And I still look for a better way.
looking forward routing-controllers-openapi can solve it.

[2019-12-28 10:04] chianquan commented on #21
which ui for openapi you use ?
I use the swagger-ui-dist.It didn't show the QueryParams's description,only an black rectangle and show the demo query using json format.

[2020-01-06 16:16] chinhdo opened #36 "Is there built-in support for validating API responses against definition/swagger?"
Hi, I am trying to find a way to validate our API responses to make sure they are valid during testing. We are already using routing-controllers-openapi to document our APIs and generate swaggers. I tried to look at the docs/code but couldn't find the answer myself. Thanks for any info. Chinh

[2020-01-06 23:26] epiphone commented on #36
Nope, this library is purely for generating OpenAPI. Check the [routing-controllers docs](https://github.com/typestack/routing-controllers#auto-validating-action-params) for how to do request validation.

[2020-01-06 23:26] #36 closed

[2020-01-07 14:20] chinhdo commented on #36
Thanks @epiphone .

[2020-01-08 12:54] Q00 opened #37 "is there a feature about showing UI?"
Hi !
I am glad to discover this code.
It is good to show api spec with using routing-controller. But I wanna know how to show UI using api spec.
So Now I am trying to use swagger-ui-express module with routing-controllers-openapi.
did this feature have already build in routing-controllers-openapi?

[2020-01-08 23:54] epiphone commented on #37
Nope, that's beyond the scope of this library. You're heading in the right direction with swagger-ui-express et al!

[2020-01-08 23:54] #37 closed

[2020-01-12 20:34] yardenshoham commented on #37
@Q00
I'd recommend [ReDoc](https://github.com/Redocly/redoc/).

[2020-01-28 06:29] Q00 commented on #37
Hi @yardenshoham
Wow, that's good library.

I just use swagger-ui-express like this
![image](https://user-images.githubusercontent.com/31264094/73240599-c7e04700-41e2-11ea-93ed-ba80885c1cb0.png)

Thank you for your replying!

[2020-01-29 09:29] sigmasoldi3r opened #38 "Decorator merge produces invalid schemas in parameters"
I'm using routing controllers openapi, along with [typeorm ](https://typeorm.io/) and [routing controllers typeorm extension](https://github.com/typeorm/typeorm-routing-controllers-extensions).

This enables you to implicitly transform an ID to an entity from the DB, like:
[code]

But the problem is that the parameter passed is an integer in fact, but the OpenAPI spec generator thinks that the par

[2020-01-29 11:26] epiphone commented on #38
Instead of passing `OpenAPI` an object try passing which performs the merge manually. From the docs:

You might first want to try passing in a function that just logs its parameters to get a sense of what's going on.

[2020-01-30 08:19] sigmasoldi3r commented on #38
I'll check it out! Didn't see that function feature. Anyway I'm patching the object before sending it for now, so works cool.

The project is great by the way! Thanks and keep it up 💪

[2020-02-06 20:52] atomicus opened #39 "QueryParams are parsed as object, not mutiple params"
This looks similiar to #38, but I'm not doing any kind of merging here.

Having simple:
[code]

Generates swagger with one query param of object type, instead of mutiple query params like this:
<img width="373" alt="Zrzut ekranu 2020-02-6 o 21 51 01" src="https://user-images.githubusercontent.com/188840/73977530-d9d09100-492a-11ea-9482-5015da874e5d.png">

I'm doing something wrong?

[2020-02-06 23:51] epiphone commented on #39
No, that's by design. I'd be happy to review a PR to change the behaviour though: we'd have to iterate through the `queriesMeta` properties [here](https://github.com/epiphone/routing-controllers-openapi/blob/master/src/generateSpec.ts#L154) and do a separate `queries.push({ in: 'query', ... })` for each property, or something similar.

[2020-02-07 12:34] atomicus commented on #39
Sure, i'll give a try

[2020-04-08 16:56] alxdrg opened #42 "Missing tslib module"
The `tslib` module was removed in version `1.8` but is required by typescript in the transpiled code. See the `importHelpers` flag set in `tsconfig.json`.

From typescript documentation:
[code]

This issue makes all the applications, that doesn't have the `tslib` module installed as its dependencies or by other modules, to break with the following error:
[code]

[2020-04-08 22:34] Jhonnyc opened #43 "Sections are being merged"
Hi,
Some of my controllers are merged into one section, how can I prevent it from happening ?

[2020-04-08 22:39] #43 closed

[2020-04-10 02:04] epiphone commented on #42
Restored `tslib` in `1.8.1`, thanks for notifying!

[2020-04-10 02:04] #42 closed

[2020-04-21 22:36] amitgilad3 opened #44 "cant generate openapi spec with class-validator@^0.12.1"
when upgrading to  "class-validator": "^0.12.1"
const metadatas = (getFromContainer(MetadataStorage) as any).validationMetadatas
returns empty array
you can reproduce  this by updating class-validator in the sample project .

[2020-04-22 16:14] whereiswolf commented on #44
@amitgilad3 I found that you can change the code as below to make `routing-controllers-openapi` work the same as before. Seems to work just fine.
[code]
Hope it helps, cheers 😄!

[2020-04-22 19:48] amitgilad3 commented on #44
Thanks @whereiswolf  for the answer but like you wrote i encountered the bug you metioned .
this solution doesn't work :(

[2020-04-25 07:54] epiphone commented on #44
I'm looking into this in https://github.com/epiphone/class-validator-jsonschema/issues/31. Thanks for reporting!

[2020-04-29 16:10] Charlyzzz opened #46 "Adding examples?"
Hey! I was playing around and couldn't find a way to annotate fields on DTOs to add examples. Is there any supported way of doing this?

Thanks!

[2020-04-29 16:40] Charlyzzz commented on #46
Just saw #21. Closing this one

[2020-04-29 16:40] #46 closed

[2020-05-01 05:33] epiphone commented on #44
Alright, I baked together a pre-release. Can you try `yarn add class-validator-jsonschema@next` & `yarn add routing-controllers-openapi@next` and let me know how it works?

[2020-05-02 12:49] whereiswolf commented on #44
@epiphone It seems to work just fine 😄🎉 Thanks for the effort!

[2020-05-04 13:26] epiphone commented on #44
Neat! Released in v2.0.0

[2020-05-04 13:26] #44 closed

[2020-05-04 15:43] amitgilad3 commented on #44
thanks for the awsome work!!

[2020-05-24 23:03] nolazybits opened #48 "Infer Response Type from endpoint"
It seems that using the new(ish)  ReturnType introduced in typescript 2.8 one should be able to get the type returned by the endpoint?

documentation
https://www.typescriptlang.org/docs/handbook/utility-types.html#returntypet
https://github.com/Microsoft/TypeScript/pull/21847

Promise example
https://jpwilliams.dev/how-to-unpack-the-return-type-of-a-promise-in-typescript

Your thoughts?

[2020-05-25 02:00] epiphone commented on #48
This library operates in runtime, not type level. So what we're after is a runtime value describing the return type, not the return type itself. To access one of those we use Typescript's reflection API which currently does not preserve generic type parameters: https://github.com/Microsoft/TypeScript/issues/10576.

[2020-05-28 05:46] #48 closed

[2020-06-15 11:59] epiphone commented on #39
Released in v2.0.1

[2020-06-15 11:59] #39 closed

[2020-07-31 06:24] godwinpang opened #53 "Multiple ResponseSchemas"
[code]
_Originally posted by @epiphone in https://github.com/epiphone/routing-controllers-openapi/pull/9#issuecomment-412455027_

Hi! Thanks for making this awesome library.
I have a use case for multiple ResponseSchemas, what do you think of the mapping implementation as referenced in the above comment? If it sounds good I can work on implementing it.

[2020-07-31 06:26] godwinpang commented on #53
Hi! Thanks for making this awesome library.
I have a use case for multiple ResponseSchemas, what do you think of the mapping implementation as referenced in the above comment? If it sounds good I can work on implementing it.

[2020-07-31 07:13] epiphone commented on #53
Hey, thanks for taking the time!

One question with the above design is how to handle additional properties like `contentType` and `isArray`?

One option would be to add a similar nested options object as 2nd parameter:
[code]

...or we could add a further level of nesting in the 1st parameter:
[code]

Personally I find both approaches a bit messy and would prefer supporting multiple separate Resp

[2020-07-31 17:19] godwinpang commented on #53
Yep - I agree with you. It fits better into the library's design as well since the current OpenAPI decorator is also implemented with multiple mappings. @thaigillespie you interested in taking this on?

[2020-08-03 18:37] godwinpang commented on #53
Just based on local testing, it looks like chaining multiple separate ResponseSchema decorators is already supported. I can add documentation + a test or two if that sounds right.

[2020-08-04 00:45] epiphone commented on #53
Oh right, looks like ResponseSchema uses `_.merge` inside so multiple decorators just might work.

Tests to verify this and docs would be awesome!

[2020-08-08 07:37] ksromero opened #55 "Example value becomes null"
Hi, I setup this package on my express typescript app, and I managed to have it worked. however I'm having issue on example value as it becomes null

![image](https://user-images.githubusercontent.com/41097274/89705023-31a88d00-d98c-11ea-99c0-f39c6beb80af.png)

and this is the schema generated

![image](https://user-images.githubusercontent.com/41097274/89705048-69afd000-d98c-11ea-8af7-eaf54baa74e

[2020-08-10 03:13] epiphone commented on #55
`User` is missing class-validator definitions. Read more here https://github.com/typeorm/typeorm/blob/master/docs/validation.md.

[2020-08-10 03:13] #55 closed

[2020-08-19 20:27] amitgilad3 opened #56 "implement Authorized feature"
Hi,
id like to implement the Authorized feature but not sure how to start and how the spec would look like for this.

can somebody maybe assist me in implementing this feature??

[2020-08-24 09:46] vmenge opened #57 "Always getting an extra text/html content type on responses"
Hi! Really appreciate what you've done here, very useful.
One issue I've been getting is that for my responses, I always get an extra content type of text/html.

**On my controller**
[code]

**Generated spec**
[code]

ResponseArticle is just a normal class with `class-validator` decorators and the `@JSONSchema` decorator from `class-validator-jsonschema` but only on fields.

I keep getting this ex

[2020-08-24 10:43] epiphone commented on #57
Hey, are you using routing-controller's JsonController class? https://github.com/typestack/routing-controllers#working-with-json

[2020-08-24 11:36] vmenge commented on #57
Seems that was it. Wew, I feel pretty stupid.
Thanks @epiphone

[2020-08-24 11:36] #57 closed

[2020-09-02 01:12] thaigillespie commented on #53
Hello @epiphone . I just wanted to update this thread a little bit, sorry for the inactivity : ) I think that using multiple ResponseSchema decorators for an endpoint does not work for the same status code (so for a 200 status code, only one @ResponseSchema is applied even if there are multiple present). This is the behavior I am seeing so far for the project I'm working on. Here is a relevant sni

[2020-09-02 01:40] epiphone commented on #53
So if I got it right (tests to verify this would be great) multiple ResponseSchemas work right now as long as each decorator uses a different `statusCode` or `contentType`. This is thanks to `_.merge`'s deep merging logic.

What doesn't work is the case @thaigillespie described above, i.e., multiple ResponseSchemas for the same `statusCode` and `contentType`. `oneOf` seems like a good solution her

[2020-09-02 01:42] godwinpang commented on #53
hey also wanted to chime in here for a little bit in terms of how we could implement something as discussed above

We see [here](https://github.com/epiphone/routing-controllers-openapi/blob/c32c925eb5802967a29166f84b8ee3b814eef6b1/src/generateSpec.ts#L216) that the schema registered for any path is a single schema that's returned from [getParamSchema](https://github.com/epiphone/routing-controller

[2020-09-02 01:48] godwinpang commented on #53
I guess another question for @epiphone is if you'd want to maintain backward compatibility with OpenAPI v2 and/or swagger-ui; it looks like we already use the allOf operator [here](https://github.com/epiphone/routing-controllers-openapi/blob/c32c925eb5802967a29166f84b8ee3b814eef6b1/src/generateSpec.ts#L216), so perhaps we're clear to onboard oneOf?

[2020-09-02 02:04] godwinpang commented on #53
Looks like there's already a [test](https://github.com/epiphone/routing-controllers-openapi/blob/c32c925eb5802967a29166f84b8ee3b814eef6b1/__tests__/decorators.test.ts#L404) for multiple response schemas @epiphone

[2020-09-02 02:23] epiphone commented on #53
Hmm not quite sure what you mean. The linked code handles request bodies, not response bodies, right?

Using `oneOf` is fine; this library generates OpenAPI v3 schemas or at least that's the intention.

Great :smile: Forgot about that one.

[2020-09-02 02:33] godwinpang commented on #53
ah I misread the function name - sorry about that! looks like this is just a simple modification [here](https://github.com/epiphone/routing-controllers-openapi/blob/81bfab558be469d058be1d048d4993072bb576df/src/generateSpec.ts#L238) then :)

[2020-09-02 04:38] godwinpang commented on #53
opened up a PR @epiphone :)

[2020-09-03 04:49] #53 closed

[2020-09-14 18:27] ricardo-dlc commented on #8
As I understand, this only works if I have a class for the response schema, but what if I want to define my own schema without create a new class. I could do it in this way:

[code]

In this way I can see the **Schema** `{token: string}` in the **Responses** section with it respective **Example Value**, but as you can see it could be a large block of code and also a little bit redundant cause I'm

[2020-09-15 00:27] epiphone commented on #8
@ricardo-dlc you can define a new decorator function that uses `OpenAPI` internally.

[2020-10-21 13:42] lucasvieceli opened #60 "Error @IsArray response"
When I use "@IsArray ()" in the response, it is not displaying

example:
![image](https://user-images.githubusercontent.com/1795678/96728036-18f42480-138a-11eb-8b28-8db94b843610.png)

Controller
[code]

Response
[code]

[2020-10-22 04:22] epiphone commented on #60
Try https://github.com/epiphone/class-validator-jsonschema#validatenested-and-arrays

[2020-10-22 04:22] #60 closed

[2020-11-20 15:51] fega commented on #60
@epiphone I'm doing that:
![image](https://user-images.githubusercontent.com/6069807/99819862-05211700-2b1e-11eb-91fb-17ea686a1449.png)

but still

![image](https://user-images.githubusercontent.com/6069807/99820050-4285a480-2b1e-11eb-8f53-9bb936ff9f71.png)

[2020-11-26 06:34] lokesh1197 commented on #17
Do any work arounds exist for this at the moment?

[2020-11-26 07:31] lokesh1197 commented on #21
The second example if very helpful and I think most users might need it. Wouldn't it be great to add it to the package?

[2020-11-26 17:49] gstamac commented on #17
I regenerate the parameters after the spec is generated. In short go through the whole spec and if I find a "query" parameter that has "$ref" set I lookup the schema and replace the parameter.

[2020-11-27 05:59] lokesh1197 commented on #17
Well that's the best option for now I guess. Thanks a lot.

[2020-11-27 19:48] Niggl1999 commented on #56
I'd love to implement this, too.
But I'm facing the same issue of where to start.

@epiphone could you please point us somewhere?

[2020-11-28 04:10] epiphone commented on #56
Here's how authorization works in routing-controllers: https://github.com/typestack/routing-controllers#using-authorization-features
And here's how OpenAPI's `secury` property works: https://idratherbewriting.com/learnapidoc/pubapis_openapi_step6_security_object.html

Now the problem is tying these two together. I don't have a solution in mind but happy to merge if you come up with one :+1:

[2020-12-13 11:34] bmoshe opened #64 "Field of type any"
Hi guys,

I have a weird situation where one of my DTO objects has field of type `any`, openapi converts it to `"$ref": "#/components/schemas/Object"`, which causes typegen to fail, because it doesn't recognize `Object`.

This field is only decorated with `@IsObject()`
What am I doing wrong here?

[2020-12-30 17:24] exejutable commented on #64
Same problem here, i make a workaround replacing all the `"$ref": "#/components/schemas/Object"` for `"type": "object"`

`  let file = JSON.stringify(swaggerFile, null, 4).split('"$ref": "#/components/schemas/Object"').join('"type": "object"')
`

waiting form a solution

[2020-12-31 04:28] epiphone opened #65 "Remove lodash dependency"
Replace lodash function calls with native Javascript code.

[2020-12-31 06:02] epiphone commented on #64
Added handling for `IsObject` in https://github.com/epiphone/class-validator-jsonschema/releases/tag/v2.1.0.

Thanks for the heads-up :+1:

[2020-12-31 06:02] #64 closed

[2021-01-23 10:13] kaifresh commented on #60
@epiphone just wondering if there was any more insight into this? I too am facing this problem

![image](https://user-images.githubusercontent.com/8577170/105575430-b747ba00-5dbf-11eb-92b7-db5bb8405d6e.png)

resulting in

![image](https://user-images.githubusercontent.com/8577170/105575438-c3cc1280-5dbf-11eb-81d2-80ece1345977.png)

[2021-01-24 02:51] epiphone commented on #60
1) Did you specify the `classTransformerMetadataStorage` config option?
[code]

2) Which versions are you using? What does `npm ls class-validator-jsonschema class-transformer` output?

[2021-01-26 11:22] PhilippMolitor opened #66 "Undocumented handling of routing-controller errors"
I implemented this library and immediately noticed that there is no example or documentation on how to include routing-controller's `HttpError`s in the generated spec.
Is there a defined best-practice how to add the spec for a method that is able to throw e.g. a `NotFoundError`?

[2021-01-26 11:43] epiphone commented on #66
No, there isn't. You could use the `OpenAPI` decorator to add a `responses.404` property, or perhaps write another decorator that calls `OpenAPI` internally to save a bit of typing.

Please share here if you come up with a better solution!

[2021-01-26 12:39] PhilippMolitor commented on #66
Is there any plan on supporting that? This seems like a core component to me. Imagine `@ErrorResponseSchema(NotFoundError)`.

[2021-01-26 12:46] epiphone commented on #66
No plans, nope. PRs are welcome :+1:

[2021-02-03 23:02] aliabbasrizvi opened #67 "Cannot read property 'route' of undefined"
Hi

I am trying to define an abstract controller as described here: https://github.com/typestack/routing-controllers#controller-inheritance, but keep getting the issue `TypeError: Cannot read property 'route' of undefined` originating at https://github.com/epiphone/routing-controllers-openapi/blob/master/src/generateSpec.ts#L16. Is there something I need to be doing differently?

Thanks

[2021-02-26 15:11] bratanon commented on #66
+1 for this feature

[2021-03-03 02:56] mkamadeus opened #68 "OpenAPI Description Decorator not Properly Escaped"
As what the title says; description text is not properly escaped.

When I tried to give a description containing `'` (single quote), the documentation stops completely, e.g:
[code]

When the single quote is removed, it works fine.
[code]

A simple solution would be escaping the single quote with some regex or similar things.

[2021-03-03 08:41] bagbyte opened #69 "Support for routing-controllers@0.9.0"
Can you release a new version supporting `routing-controllers@0.9.0` ?

[2021-03-20 08:35] epiphone commented on #69
https://github.com/epiphone/routing-controllers-openapi/releases/tag/v3.0.0

[2021-03-20 08:35] #69 closed

[2021-03-20 08:36] epiphone commented on #67
Try upgrading to latest dependency versions, and if the problem persists post your code here so that the bug can be reproduced.

[2021-03-20 08:37] #67 closed

[2021-03-25 22:55] mikeguta commented on #65
Hi @epiphone I have a PR for this one too, I think it's in good state.

[2021-04-29 08:11] nicholasbraun commented on #19
Any progress on this?

[2021-05-01 12:09] tomashq opened #74 "Map with string array as values"
hi,
I would like to generate OpenAPI specs for a payload which would contain a map with string[] as values.

Example:
[code]
I can't seem to find a right way to annotate class properties in order to generate correct specs that would reflect above JSON shape.

I tried few approaches but nothing seemed to work:

string[] as values
[code]
another one using class extending string[]

[code]
Does 'routi

[2021-05-04 21:22] mikeguta commented on #68
I can't reproduce this issue @mkamadeus
`routing-controllers-openapi` doesn't do the serialization, it just builds the `OpenAPIObject` which the consuming application can choose to serialize. What symptom did you encounter?
I'm assuming some sort of tool failed to parse the output in your case. Do you remember what the tool was? Can you still reproduce the issue?

[2021-05-05 02:54] mkamadeus commented on #68
@mikeguta Ah, I see. I used Redoc to display the documentation. I'll check again when I got the time to do so.

[2021-05-21 12:02] octalpixel opened #80 "Is it possible to use Interfaces (like tsoa) rather than Class in @Body and response ?"
Has anyone found a solution to this problem?

[2021-05-22 03:21] rdfedor opened #81 "routingControllersToSpec fails to import directory when controllers contains string"
In the current release of `routing-controllers` it allows you to define the controllers like this,

`useExpressServer(app, { controllers: ['./controller/**/*.ts'] })`

Their code will detect whether classes or a string is passed. If a string is passed, then the values are passed to `importClassesFromDirectories` where it imports all the classes in the directory.

When the same configuration is pas

[2021-05-22 03:41] rdfedor opened #82 "Swagger-UI fails to resolve reference when class passed as @ResponseSchema and @Body"
Have a project set up using the following structure,

[code]

Here's a rough implementation of how the files are implemented,

./main.ts
[code]

./validator/auth.ts
[code]

./controllers/auth.ts
[code]

However when I try to expand the authenticateUser section of the request in swagger-ui I get the following error.

![image](https://user-images.githubusercontent.com/1054015/119213570-b41abd00-ba85

[2021-05-22 23:13] rdfedor commented on #82
I was able to fix part of the problem by moving the `useExpressServer` to before the app.use('/api-docs' line.  It was able to get rid of the AuthenticateUserRequest error, but the LoginToken error still exists.  Seems to only error out on classes that don't use class-validator.

[2021-06-01 11:34] Jobayerdev commented on #26
![image](https://user-images.githubusercontent.com/34404032/120316752-92c89500-c2ff-11eb-9dd2-57d73192b8ec.png)
I am getting same Error

[2021-06-01 11:36] Jobayerdev commented on #67
![image](https://user-images.githubusercontent.com/34404032/120316889-c0154300-c2ff-11eb-8a08-c9df14a3b868.png)
 Can anyone please help me

[2021-06-24 11:54] tebogosewape opened #86 "5 export declare function OpenAPI(spec: OpenAPIParam): (...args: [Function] | [object, string, PropertyDescriptor]) => void;"
I'm getting this error when I try to transpile the project, tried the latest to older versions nothing is working:

[code]

tsc -v
Version 4.0.5

node -v
v12.5.0

yarn -v
1.19.2

[2021-06-24 13:57] tebogosewape commented on #86
used this version: routing-controllers-openapi@1.4.2

[2021-06-24 13:57] #86 closed

[2021-06-30 12:48] siyb opened #87 "Support global custom operationId generation hook"
Currently, the `operationId` is created in the following manner:

[code]

When creating OpenAPI bindings using `@openapitools/openapi-generator-cli` this will result in the following client method:

[code]

So it would be nice if there were a way to provide a custom `operationId` generator to be able to adjust the `operationId` globally and not just per method.

[2021-07-03 23:21] kennethfreitas opened #88 "ResponseSchema could not resolved by Swagger"
When I try to pass a ReseponseSchema, Swagger throws an error that the schema has not found.

Expected action: Swagger add my schema and associate with the response from the path.
Received action:
![image](https://user-images.githubusercontent.com/55669043/124368868-00881980-dc3c-11eb-97bc-2d2670d2611f.png)

Controller class:
[code]

Dependencies:
[code]

Regards

[2021-07-04 00:41] #88 closed

[2021-07-04 00:42] kennethfreitas commented on #88
One of my classes was without the signature of your type x)

[2021-07-06 13:33] BlackRider97 commented on #82
I am also getting `schemas: {}` even while using `@ResponsesSchema`

[2021-09-13 22:03] exejutable opened #91 "Custom validator generate invalid output"
A custom decorator breaks the generation of the spec

[code]

this returns in the yaml

[code]

If i remove the custom decorator, the documentation is generated as spected

[code]

[2021-09-17 12:11] asc11cat opened #92 "Cannot read property 'route' of undefined when using abstract controller classes"
Problems occurs only when one of controllers extends the abstract class, basically same info as in #67 (https://github.com/epiphone/routing-controllers-openapi/issues/67#issuecomment-852053429)

[2021-11-09 16:10] fhasni commented on #74
@tomashq, Did you find a solution for this?

[2021-11-26 09:02] lerit opened #96 "v3.1.0 getHeaderParams throw split undefined"
**v 3.0.0:**  getHeaderParams
[code]
**v 3.1.0**  getHeaderParams
[code]
if schema.$ref is undefined,v 3.0.0 still work,but v3.1.0 throw error.
schema get from getParamSchema,when getParamSchema return {},cause this problem

[2021-12-07 16:23] judos commented on #82
Same issue, workaround I use now is to annotate every field with an appropriate annotation e.g. `IsNotEmpty()` for strings.
The dependencies we use are:
[code]

[2021-12-16 14:57] tmouchart opened #97 "controllers field is not being used"
When generating swagger specifications, the `controllers` fields in RoutingControllersOptions is actually ignored

Metadata information is taken from a global variable.

My problem is that I would like to generate 2 separate swagger for 2 different sets of controllers, but they get merged as I am not able to separate them using the `controllers` field

Code to reproduce:

[code]

Even with an empt

[2022-01-03 15:46] judos commented on #74
It's likely possible to define your custom schema with the @JSONSchema annotation. However I'm not sure how to do it exactly.
See also: https://github.com/epiphone/class-validator-jsonschema#validatenested-and-arrays

Some general examples

For simple arrays you need:
[code]

For simple object/maps the same works:
[code]

What's missing right now is to annotate a class with Type Information.
e.g.

[2022-01-03 15:59] judos opened #98 "nested maps, multi-dimensional arrays not able to annotate with type information"
It seems impossible to annotate nested maps with type information. Consider this property:
[code]

Now if it were only a single map I can correctly tell openapi it should validate the nested objects, and what type they are:
[code]
But what I have is two level of maps inside each other.

1.) I considered creating a separate object for one map with type, but this also doesn't help, because I can't a

[2022-01-03 16:40] judos commented on #98
Workaround found is to define JSONSchema manually.
I did as follows:
[code]

[2022-01-03 16:47] judos commented on #74
Workaround in general is to define the JSONSchema manually. I provided an example in #98.
Also for simple strings I had troubles defining the type correct so I did this:
[code]

For your case @tomashq you can use this:
[code]

That shows the following JSONSchema in swagger for me:
[code]

Now this ticket can be closed.

[2022-01-03 16:48] judos commented on #98
Is there a simpler way to annotate such complex nested types with routing-controllers-openapi? I have the feeling an annotation could solve this a lot easier for everyone.

[2022-01-24 18:52] thebrokenbar commented on #82
@judos workaround works, thanks

Any permanent solution planned on this?

[2022-02-07 05:01] yuvalt opened #99 "How to describe a response with array of strings?"
I need to return an array of strings. Is there something similar to @ResponseSchema that accepts basic types? I'm looking for this type of output:

[code]

[2022-04-22 11:52] Robstaa opened #106 "@Body is not parsed to Request Body schema"
Hi!
I am using the @Body decorator from `routing-controllers` and it somehow doesn't parse to the Swagger Docs.
I read that it might have to do with using @Body and not Request Body, but `routing-controllers` does not seem to support any Request Body Decorator.

The response is parsed correctly though!

[code]

Any ideas how I can also parse the Body to the schema in the Swagger docs?
Thanks a lot

[2022-04-26 02:34] ekankr2 commented on #74
would this way work for @IsArray() too?

[2022-04-26 03:11] ekankr2 commented on #74
I actually found a better way for Object in arrays.
You can use JSONSchema for better Swagger examples.
put your DTOs in "CreatePostDTO"

[code]

my example would look like this

![image](https://user-images.githubusercontent.com/83811729/165212430-3b86bc6d-88f4-4a99-8080-8e215c7f6298.png)

[2022-05-20 13:51] kenberkeley commented on #36
My temp workaround: https://github.com/typestack/routing-controllers/issues/745#issuecomment-1132915108

[2022-06-23 12:28] arpitBhalla commented on #106
Try converting `type` to `class or interface?

[2022-08-27 15:15] pingcheng opened #113 "Can we hide a controller from generating?"
I put the docs as a controller, and can I hide it from generating?

[2022-09-03 11:12] mathzdev opened #114 "Cannot read properties of undefined - getParamSchema"
When I use @Body() or @Param from routing-controllers I got this error `Cannot read properties of undefined` on **getParamSchema**

If I remove it or comment it, it works but don't generate openapi correctly.

I put ` "emitDecoratorMetadata": true` on tsconfig.json but doesn't work =/

[2022-09-04 09:58] talbSE commented on #97
+1

[2022-09-15 15:47] TechQuery opened #115 "failed to generate specification in mixin abstract classes"
## Expect

@epiphone I want to reduce the Source-code Size, so I wrote a Controller Abstract Class mixin:

[code]

## Actual

But it thrown an error at:

https://github.com/epiphone/routing-controllers-openapi/blob/7c5bc3e20d622e3aaf16942cd33f9a810ccebf23/src/generateSpec.ts#L13-L21

[code]

## Reproduce code

idea2app/REST-Node-ts#1

## Environment

| Software         | Version(s)          |
| --

[2022-11-13 19:52] leonardlin opened #120 "Add routing-controller-extended as peer-dependency"
Hi

routing-controllers-api is a great library and has a peer dependency to routing-controllers.

routing-controllers is pretty much abandoned. See this issue: https://github.com/typestack/routing-controllers/issues/900

Because of this, an alternative fork was created "routing-controller-extended" with updated libraries and resolved security issues.
https://github.com/spicemc/rce

Would the maint

[2022-11-25 10:36] diedhiouh commented on #82
It's work for me also, I put in each string type of entity `@IsNotEmpty()` decoration , Thanks so much

[2022-11-25 11:05] diedhiouh opened #122 "Same issue, workaround I use now is to annotate every field with an appropriate annotation e.g. `IsNotEmpty()` for strings."
Same issue, workaround I use now is to annotate every field with an appropriate annotation e.g. `IsNotEmpty()` for strings.
The dependencies we use are:
[code]

_Originally posted by @judos in https://github.com/epiphone/routing-controllers-openapi/issues/82#issuecomment-988079434_

[2022-11-25 11:06] #122 closed